<ion-view view-title="Set Goal">
    <ion-content>
        <div style="padding:10px;">
            <div>
                <h2>Current goal: <strong>{{currentGoal}}</strong></h2>
            </div>
            <div class="list">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="number" placeholder="New Goal" ng-model="goal.newGoal">
                    </label>
                    <button class="button button-small button-outline button-balanced" ng-click="changeGoal()">
                        Change Goal
                    </button>
<!--                      <button class="button button-small button-outline button-balanced" ng-click="fart()">
                        fart
                    </button> -->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
