<ion-view view-title="Walking">
    <ion-content>
        <h4>Current Walk</h4>
        <div class="row">
            <ion-item class="col col-50">
                Steps: {{pedometer.steps}}
            </ion-item>
            <ion-item class="col col-50">
                Current Goal
            </ion-item>
        </div>
        <div class="row">
            <ion-item class="col col-50">
                Distance
            </ion-item>
            <ion-item class="col col-50">
                Speed
            </ion-item>
        </div>
        <div class="card">
            <div class="item item-divider">
                Well Being Status
            </div>
            <div class="item item-text-wrap wellBeingGood" ng-show="wellBeing === 'good'">
                <div class="row">
                    Going Well
                </div>
            </div>
            <div class="item item-text-wrap wellBeingCaution" ng-show="wellBeing === 'caution'">
                <div class="row">
                    Caution
                </div>
            </div>
        </div>
        <div class="row" style="text-align:-webkit-center;">
            <div class="col">
                <button class="button button-large button-assertive" style="width:50%;" ng-click="pause()" ng-show="isStarted">
                    <i class="fa fa-pause"></i>
                </button>
                <button class="button button-large button-balanced" style="width:50%;" ng-click="start()" ng-show="isPaused">
                    Start
                </button>
            </div>
        </div>
        <div>
            {{algorithmValues}}
        </div>
        <div>
            X: {{accelerometer.X}}
            <br/>
            Y: {{accelerometer.Y}}
            <br/>
            Z: {{accelerometer.Z}}
            <br/>
            time: {{accelerometer.timeStamp}}
        </div>
    </ion-content>
</ion-view>
