<ion-view view-title="Edit Profile">
    <ion-content>
        <div>
            <div>
                <div class="item item-avatar">
                    <img src="img/profilepic.jpg">
                    <h2>{{ user.name }}</h2>
                    <p>{{ user.memberSince | date:'d MMMM yyyy' }}</p>
                </div>
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Height (cm)</span>
                        <input type="number" ng-model="user.height" style="width: 30px;">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Weight (kg)</span>
                        <input type="number" ng-model="user.weight" style="width: 30px;">
                    </label>
                </div>
                <button class="button button-balanced button-block" ng-click="update()">
                    <i class="icon ion-chatbox"></i> Update Profile
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
