<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.heavywalker225550" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>heavywalker</name>
  <icon src="icons/ios/icon.jpg" platform="ios" width="57" height="57" density="mdpi"/>
  <icon src="icons/ios/icon.jpg" platform="android" width="57" height="57" density="mdpi"/>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
        Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="Accelerometer">
    <param name="ios-package" value="CDVAccelerometer"/>
  </feature>
  <feature name="Accelerometer">
    <param name="android-package" value="org.apache.cordova.devicemotion.AccelListener"/>
  </feature>
  <feature name="Pedometer">
    <param name="ios-package" value="Pedometer"/>
    <param name="onload" value="true"/>
  </feature>
  <feature name="Notification">
    <param name="ios-package" value="CDVNotification"/>
  </feature>
  <feature name="Notification">
    <param name="android-package" value="org.apache.cordova.dialogs.Notification"/>
  </feature>
  <feature name="Vibration">
    <param name="android-package" value="org.apache.cordova.vibration.Vibration"/>
  </feature>
  <feature name="Vibration">
    <param name="ios-package" value="CDVVibration"/>
  </feature>
</widget>