/* Empty. Add your own CSS if you like */
.wellBeingCaution {
	background-color:orangered; 
	color:black;
}
.wellBeingGood {
	background-color:limegreen; 
	color:black;
}
.startButton{
	background: #33cd5f;
	color: white;
}
button.md-no-style.md-button.md-default-theme {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.profile::after{
  content: "";
  background: url(../img/profilepic.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.walking .row{
	padding: 0;
}

.walking .row .col .card{
	margin: 0 0 5px 0;
}

.walking .row .col .card .item{
	text-align: center;
}

.walking .row .col .card .item-stable p{
	font-size: 1.4em;
	color: #8D8D8D;
	font-weight: bold;
}
